<div class="header">
  <div class="header-main">
    <h1>Mời chọn chỗ</h1>
    <div class="header-left-bottom ">
      <div class="row justify-content-between">
        <div class="">
          <div class="information">
            <p>CHUYẾN BAY: {{flight.id}}</p>
            <p>TỪ {{flight.departure_code}} ĐẾN {{flight.arrival_code}}</p>
            <p>KHỞI HÀNH LÚC {{flight.departure_time}}</p>
            <p>HẠ CÁNH LÚC {{flight.arrival_time}}</p>
            <p>TỔNG SỐ CHỖ: {{flight.num_of_seats}}</p>
            <p>SỐ CHỖ TRỐNG HẠNG NHẤT: {{flight.num_of_empty_fc_seats}}</p>
            <P>SỐ CHỖ TRỐNG HẠNG PHỔ THÔNG: {{flight.num_of_empty_eco_seats}}</P>
            <p>GÍA VÉ HẠNG NHẤT (MÃ F): {{flight.fc_price}}</p>
            <p>GÍA VÉ HẠNG PHỔ THÔNG (MÃ Y): {{flight.eco_price}}</p>
          </div>
          <p>Chọn khoang bạn muốn:</p>
          <form action="{% url 'tickets' flight.id %}" method="POST">
            {% csrf_token %}
            <label for="seat_code">Mã ghế:</label>
            <select name="seat_code" id="seat_code">
              {% for ticket in flight.tickets %}
              <option value="{{ticket}}">{{ticket}}</option>
              {% endfor %}
            </select>
            <input style="display: none;" type="text" name='flight_id' value="{{flight.id}}">
            <input type="submit" value="Đặt vé">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

