{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>

  $('#txtDate').datetimepicker({
    format: 'd/m/Y',
    timepicker: false,
    mask: true,
  });
</script>
{{/section}}



<!--header start here-->
<div class="header">
  <div class="header-main">
    <h1>Tra cứu chuyến bay</h1>
    <div class="header-left-bottom ">
      {{!-- <div class="row justify-content-end">
        <div class="col-4">
          <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-danger mb-4">
              Đăng xuất
            </button>
          </a>
        </div>
      </div> --}}
      <div>
        <form action="" method="post">
          <div class="mb-4">
            <label for="departure">Sân bay đi:</label>
            <select name="departure_airport_id">
              {{#each this.flights}}
              <option value="{{departure_airport_id}}">{{name_departure_airport}}</option>
              {{/each}}
            </select>
            <label for="arrival">Sân bay đến:</label>
            <select name="arrival_airport_id">
              {{#each this.flights}}
              <option value="{{arrival_airport_id}}">{{name_arrival_airport}}</option>
              {{/each}}
            </select>
          </div>
          <div class="mb-4">
            <label for="departure-date">Ngày bay:</label>
            <select name="departure_time">
              {{#each this.flights}}
              <option value="{{departure_time}}">{{departure_time}}</option>
              {{/each}}
            </select>
          </div>

          {{!-- <div class="mb-3">
            <label for="txtDate">Ngày bay</label>
            <input type="text" class="form-control" id="txtDate">
          </div> --}}

          {{!-- <input type="date" id="departure-date" name="departure_date" required> --}}
          <input type="submit" value="Tra cứu">
        </form>


      </div>
      <div class="row justify-content-start">
        <div class="">
          <div class="col">
            <a href="/customer">
              <button type="button" class="btn btn-danger mt-5">
                Trở về
              </button>
            </a>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>