

<!--header start here-->
<div class="header">
  <div class="header-main">
    <h1>Kết quả tra cứu</h1>
    <div class="header-bottom">
      <div class="header-right w3agile">
        <div class="header-left-bottom agileinfo">


          <div class="container">
            <div class="row justify-content-center">
              {{#if match_flight}}             
              <table class="w-auto table table-bordered table-dark">
                <thead>
                  <tr>
                    <th scope="rowgroup" colspan="5" class="text-center">CHUYENBAY</th>
                  </tr>
                  <tr>
                    <th scope="col" class="text-center">Thông tin về CB</th>
                    <th scope="col" class="text-center">Giờ đi</th>
                    <th scope="col" class="text-center">Giờ đến</th>
                    <th scope="col" class="text-center">Tổng số lượng ghế</th>
                    <th scope="col" class="text-center">Số ghế hạng nhất</th>
                    <th scope="col" class="text-center">Số ghế trống hạng nhất</th>
                    <th scope="col" class="text-center">Số ghế hạng phổ thông</th>
                    <th scope="col" class="text-center">Số ghế trống hạng phổ thông</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each flights}}
                  <tr>
                    <th class="text-center">{{id}} ({{name_departure_airport}}->{{name_arrival_airport}})</th>
                    <td class="text-center">{{departure_time}}</td>
                    <td class="text-center">{{arrival_time}}</td>
                    <td class="text-center">{{capacity}}</td>
                    <td class="text-center">{{num_of_fc_seats}}</td>
                    <td class="text-center">{{num_of_empty_fc_seats}}</td>
                    <td class="text-center">{{num_of_eco_seats}}</td>
                    <td class="text-center">{{num_of_empty_eco_seats}}</td>
                    <td style="color:cornflowerblue" class="text-center"><a href="{% url 'flights' flights.id %}">Chi
                        tiết</a></td>
                  </tr>
                    
                  {{/each}}

                </tbody>
              </table>
              {{else}}
               <h3 style="color: #fff">Không có chuyến bay nào phù hợp.</h3>
              {{/if}}

            </div>


            <div class="row justify-content-start">
              <div class="">
                <div class="col">
                  <a href="/customer/CustomerSearching">
                    <button type="button" class="btn btn-danger mt-5">
                      Trở về
                    </button>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>