{{!-- {% extends 'bookings/base.html' %}
{% load static %}

{% block title %}
<title>Thông tin vé</title>
{% endblock %}

{% block body %} --}}
<!--header start here-->
<div class="header">
  <div class="header-main">
    <h1>Thông tin vé</h1>
    <div class="header-bottom">
      <div class="header-right w3agile">
        <div class="header-left-bottom agileinfo">

          <div class="container">
            {{!-- <div class="row justify-content-end">
              <div class="col-2">
                <a href="{% url 'logout' %}">
                  <button type="button" class="btn btn-danger mb-4">
                    Đăng xuất
                  </button>
                </a>
              </div>
            </div> --}}


            <div class="row">
              <div class="col-sm">
                <div class="text-white mb-5">Khách hàng: {{passenger_name}}</div>
                <div class="text-white mb-5">Mã Chuyến bay: {{flight_id}}</div>
                <div class="text-white mb-5">Sân bay đi: {{departure}}</div>
                <div class="text-white mb-5">Sân bay đến: {{arrival}}</div>
                <div class="text-white mb-5">Ngày bay: {{departure_date}}</div>
                <div class="text-white mb-5">Giờ bay: {{departure_time}}</div>
                <div class="text-white mb-5">Giờ đến: {{arrival_time}}</div>
              </div>
              <div class="col-sm">
                <div class="text-white mb-5">Loại vé: {% if ticket_type == 'F' %}Hạng nhất{% else %}Hạng phổ thông{%
                  endif %}</div>
                <div class="text-white mb-5">Giá vé: {{ticket_price}}</div>
              </div>
            </div>

          </div>
          <div class="row justify-content-between">
            <a href="/index">
              <button type="button" class="btn btn-danger mt-3">
                Trở về
              </button>
            </a>

            <a href="/index">
              <button type="button" class="btn btn-danger mt-3 ml-5">
                Bán
              </button>
            </a>
          </div>

        </div>
      </div>





    </div>
  </div>
</div>
</div>
</div>
