<!--header start here-->
<div class="header">
  <div class="header-main">
    <h1>Thông tin vé</h1>
    <div class="header-bottom">
      <div class="header-right w3agile">
        <div class="header-left-bottom agileinfo">

          <div class="container">
            <div class="col">
              <form class="row" method="post">
                <div class="text-white mb-5">Khách hàng: {{tickets.name_customer}}</div>
                <div class="text-white mb-5">Mã Chuyến bay: {{tickets.flight_id}}</div>
                <div class="text-white mb-5">Sân bay đi: {{tickets.name_departure_airport}}</div>
                <div class="text-white mb-5">Sân bay đến: {{tickets.name_arrival_airport}}</div>
                <div class="text-white mb-5">Thời gian bay: {{tickets.departure_time}}</div>
                <div class="text-white mb-5">Thời gian đến: {{tickets.arrival_time}}</div>
                <label class="text-white mb-2" for="departure">Loại vé:</label>
                <select class="mb-3" name="departure_airport_id">
                  <option value="{{first_class_price}}">Giá vé hạng nhất: {{tickets.first_class_price}}</option>
                  <option value="{{eco_class_price}}">Giá vé hạng phổ thông: {{tickets.eco_class_price}}</option>
                </select>
                <input type="submit" value="Bán vé">
              </form>
            </div>

          </div>
          <div class="row justify-content-start">
            <div class="">
              <div class="col">
                <a href="/admin">
                  <button type="button" class="btn btn-danger mt-5">
                    Trở về
                  </button>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>





    </div>
  </div>
</div>
</div>
</div>