<!--header start here-->
<div class="header">
  <div class="header-main">
    <h1>Tra cứu chuyến bay</h1>
    <div class="header-bottom">
      <div class="header-right w3agile">
        <div class="header-left-bottom agileinfo">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-auto">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="rowgroup" colspan="5" class="text-center">CHUYENBAY</th>
            </tr>
            <tr>
              <th scope="col">MACB</th>
              <th scope="col">SBDI</th>
              <th scope="col">SBDEN</th>
              <th scope="col">GIODI</th>
              <th scope="col">GIODEN</th>
            </tr>
          </thead>
          <tbody>
            {{#each flights}}
            <tr>
              <th scope="row">{{id}}</th>
              <td>{{name_departure_airport}}</td>
              <td>{{name_arrival_airport}}</td>
              <td>{{departure_time}}</td>
              <td>{{arrival_time}}</td>
            </tr>
            {{/each}}


          </tbody>
        </table>

      </div>
      <div class="row justify-content-start">
        <div class="">
          <div class="col">
            <a href="/admin">
              <button type="button" class="btn btn-danger mt-5">
                Trở về
              </button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>